:root {
  --main-text: #111111;
  --main-bg: #EEEEEE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #DDDDDD;
    --main-bg: #202020;
  }
}

body {
  color: var(--main-text);
  /*background-color: var(--main-bg);*/
  background: linear-gradient(to right, #362ae0 0%, #3b79cc 50%, #42d3ed 100%);
}

div#controler {
  left: 0; top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changebtn {
  height: 95%;
  width: 30%;
  font-size: 15vmin;
  background: rgba(100, 100, 100, .3);
}

div#indicator {
  width: 38%;
  text-align: center;
}

div#radio {
  text-align: center;
}

span#ch-number {
  font-size: 15vmin;
}

div#radio {
  z-index: 1;
}

ul {
  list-style: none;
}

div#manifests {
  margin-top: 1em;
}

div.manifest-item.selected {
  background-color: #3b79cc;
  color: #EEEEEE;
}

.anim-box {
  /*background-color: var(--main-bg);*/
  background: rgba(100, 100, 100, .8);
  left: 0; top: 0;
  box-sizing: border-box;
  width: 100%; height: 100vh;
  position: fixed;
  z-index: 2;
  padding: 1em 1em 0em 4em;
  overflow-x: hidden;
  overflow-y: auto;
}

.anim-box.init {
  transform: translateX(-100%);
  opacity: 0;
}

.anim-box.slidein {
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

.anim-box.slideout {
  animation: slideOut 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%, 100% {
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
  0%, 40% {
    opacity: 1;
  }
}

div#channels {
  position: fixed;
  z-index: 10;
}

.openbtn {
  position: relative;
  background: #666;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.openbtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
}

.openbtn span:nth-of-type(1),
.openbtn span:nth-of-type(3) {
  height: 2px;
  background: #fff;
  width: 62%;
  left: 10px;
}

.openbtn span:nth-of-type(1) {
  top: 13px;
}

.openbtn span:nth-of-type(2) {
  top: 19px;
  left: 11px;
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
}

.openbtn span:nth-of-type(3) {
  top: 36px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
